.FlavorsTextBlock{
  display: flex;
  flex-direction: row;
  gap: 149px;
  align-items: flex-start;
  justify-content: space-between;

  .TextBlock{
    text-align: left;
  }

  .TextBlock2{
    text-align: left;
    padding-right: 58.6px;
  }
}