@import '../../colors';

.FlavorsTextBlock{
  display: flex;
  flex-direction: row;
  gap: 149px;
  align-items: flex-start;
  justify-content: space-between;

  .TextBlock{
    text-align: left;
  }

  .TextBlock2{
    text-align: left;
    padding-right: 58.6px;
  }
}

@media screen and (max-width: 1290px) {
  .FlavorsTextBlock{
    height: 130px;
    align-items: center;
    background-color: $flavorBackground;

    .TextBlock{
      display:none;
    }

    .TextBlock2{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
     }
  }
}