.PackagingLine{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 36.6px 262px 0 262px;

  img{
    width: 102px;
    //width: 8%;
    height: 82px;
    //height: 8%;
  }
}