@import '../../colors';

.NavMenu{
  height:75.3px;
  width: 100%;
  background: $greenGradient;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:43.3px;

  .MenuBlock{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 31px;
    padding-top: 23.3px;
    padding-bottom: 28.6px;

    A{
      text-decoration: none;
    }
  }

  .LogoMarvins{
    width: 48px;
    height: 100%;
    padding-top: 9.3px;
    padding-bottom: 14.6px;
  }
}

@media screen and (max-width: 1290px) {
  .NavMenu{
    display: none;
  }
}