@import '../../colors';

.DividingLine{
  width: 0.5px;
  background-color: rgba(143, 255, 181, 0.25);

  &.SizeBig{
    height: 94px;
  }

  &.SizeSmall{
    height: 54px;
  }
}

@media screen and (min-width: 1291px) {
  .DividingLine{
    display:none;
  }
}