.FlavorsBlock{
  width: 100%;
  padding-top: 73.6px;

  .FlavorsDiv{
    //width:983.28px;
    justify-content: space-between;
  }
}

.FlavorsHeader{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 808.6px;
  padding-bottom: 48px;
  justify-content: space-between;

  .EmojiIcon{
    width: 45.3px;
    height:45.3px;
    //padding-left:
  }
}

@media screen and (max-width: 1290px) {
  .FlavorsBlock{
    padding-top: 26px;

    .FlavorsDiv{

      .FlavorsHeaderDiv{
        display: none;
      }

      .FlavorsContentMobile{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 77px;
      }
    }

    .FlavorsHeader{
      padding-bottom: 35px;

      .MainTitleFlavor{
        display:none;
      }

      .MainTitleFlavorMobile{
         display:flex;
         justify-content: center;
       }
    }

    .EmojiIcon{
      display:none;
    }

    .FlavorsDividingBlock{
      padding-right: 27px;
    }

  }
}

@media screen and (min-width: 1291px) {
  .MainTitleFlavorMobile{
    display:none;
  }

  .FlavorsDividingBlock{
    display:none;
  }
}

