$darkGrey: #A6A6A6;

$white: #FFF;

$grey: #AEAEAE;

$lightBlack: #242526;

$lightGrey: rgba(255, 255, 255, 0.45);

$transparentGrey: rgba(231, 231, 231, 0.65);

$AddInfGrey: #9E9E9E;

$black: #000000;

$green: #8FFFB5;

$darkGreen: #15643E;

$yellow: #FFD600;

$red: #cb6363;

$greenGradient: linear-gradient(180deg, rgba(38, 108, 14, 0.30) 40.58%, rgba(38, 108, 14, 0.00) 105.36%);

$blueGradient: linear-gradient(274deg, #00AD8E -1.81%, #302CEF 120.03%);

$mainBackground: linear-gradient(219deg, #A41D1D -4.77%, #000 -4.75%, #124014 139.91%);

$applicationFormBackground: rgba(0, 0, 0, 0.85);

$applicationInputPlaceholder: #8C8C8C;

$sliderBackground: rgba(0, 0, 0, 0.34);






