@import '../../colors';

.AppButton{
  flex-shrink: 0;
  border-radius: 35.6px;
  border:none;

  &.SizeBig{
    width: 213px;
    height: 58px;
  }

  &.SizeMedium{
    width: 166px;
    height: 45.13px;
  }

  &.SizeSmall{
    width: 174.4px;
    height: 37.7px;
  }

  &.BackgroundColorBlue{
    background: $blueGradient;
  }

  &.BackgroundColorGreen{
    background: $darkGreen;
  }
}
