.HeaderBlock{
  padding-bottom: 88px;
  width:100vw;
}
.HeaderInfoBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .HeaderText{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 58.6px;
    padding-left:78px;

    .MainTitle{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 42px;
      letter-spacing: 2.9px;
      padding-bottom: 4.6px;
    }

    .MainTitle2{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 42px;
      letter-spacing: 2.9px;
      padding-bottom: 4.6px;
      padding-top: 4px;
    }

    .AdditionalInfTitle{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      letter-spacing: 0.9px;
      gap: 8.6px;
    }
  }
  .LeaveApplicationBtn{
    display:flex;
    flex-direction: column;
    padding-right: 138px;
    gap:3.3px;
  }
}
