.CooperationBlock{
  padding-top: 184.98px;

  .CooperationHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    //gap: 457px;

    .MainTitleCooperation{
      text-align: left;
      padding-bottom: 37.5px;
      padding-right: 7px;
    }

    .PersonIcon{
      width: 45.3px;
      height: 45.3px;
      //padding-right: 23px;
    }
  }

  .TextBlocks{
    padding-left: 15.3px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;

    .LeftTextBlocks{
      display:flex;
      flex-direction: column;
      //gap: 23.3px;//
      text-align: left;
      //padding-left: 209px;

      .TextBlock2{
        padding-top: 23.3px;
        padding-bottom: 39.24px;
      }

      .AdditionalInfCooperation{
        padding-left: 38.14px;
      }
    }

    .RightTextBlocks{
      text-align: left;
      display:flex;
      flex-direction: column;
      //gap:33.3px;//
      //padding-right: 209px;

      .TextBlock5{
        padding-top: 34px;
        padding-bottom: 30px;
      }
    }
  }
}









